In [7]:
import pandas as pd

In [8]:
df = pd.read_csv("Raw_Data/google-global-user-data-requests.csv")
df.rename(columns = {
    "Period Ending": "period_ending",
    "User Data Requests": "total_requests",
    "Accounts": "total_requests_accounts"
}, inplace=True)
df = df[df['Country/Region'] == "United States"].groupby("period_ending").sum()
df["country"] = "United States"
df['half'] = [1 if "-06-" in period else 2 for period in df.index]
df['year'] = [y[0:4] for y in df.index]
df.tail(5)

,total_requests,Percentage disclosed,total_requests_accounts,country,half,year
period_ending,,,,,,
2018-12-31,32325,512.0,87235.0,United States,2,2018
2019-06-30,42629,404.0,103125.0,United States,1,2019
2019-12-31,42282,407.0,94931.0,United States,2,2019
2020-06-30,55124,457.0,125770.0,United States,1,2020
2020-12-31,54557,506.0,126700.0,United States,2,2020

In [9]:
df.to_csv("../Clean_Data/Google.csv", index=False)