In [2]:
import pandas as pd

In [3]:
twitter = pd.read_csv("Raw_Data/Twitter_Transparency-Information_Requests_Jul-Dec-2020.csv", header=1)

In [4]:
twitter = twitter[twitter.Country == "United States"]
twitter.head()

,Time period start,Country,Routine requests,Emergency requests,Combined requests,Routine compliance rate,Emergency compliance rate,Combined compliance rate,Routine accounts specified,Emergency accounts specified,Combined accounts specified,Preservation accounts,Preservation requests
68,2020-07-01,United States,2421,822,3243,0.72,0.22,0.60,30127.0,953.0,31080.0,4035.0,1791.0
144,2020-01-01,United States,2557,872,3429,0.76,0.11,0.59,8983.0,982.0,9965.0,6669.0,1687.0
212,2019-07-01,United States,1772,499,2271,0.74,0.20,0.62,8381.0,589.0,8970.0,2046.0,1201.0
273,2019-01-01,United States,1669,451,2120,0.76,0.48,0.70,3654.0,496.0,4150.0,2022.0,1054.0
333,2018-07-01,United States,1624,468,2092,0.79,0.51,0.73,3294.0,567.0,3861.0,3265.0,1187.0

In [ ]:
twitter = twitter[
    ["Time period start", "Combined requests", "Combined accounts specified", "Country"]
].dropna()

twitter["half"] = [2 if "07" in t else 1 for t in twitter["Time period start"]]
twitter["year"] = [t[0:4] for t in twitter["Time period start"]]

twitter.columns = ['Time period start', "total_requests", "total_requests_accounts", "country", 'half', 'year']

twitter["time"] = twitter.apply(lambda y: ("Jan-Jun" if y.half == 1 else "Jul-Dec") + " " + y.year, axis=1)
twitter["accounts_per_request"] = twitter.total_requests_accounts / twitter.total_requests.map(lambda t: int(t))
twitter["site"] = "Twitter"

twitter = twitter[twitter.year != "2012"]
twitter = twitter[twitter.time != "Jan-Jun 2013"]

twitter = twitter.sort_values(["year", "half"], ascending=True)

twitter.to_csv("../Clean_Data/Twitter.csv", index=False)